// @use "../../Scss/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700;800;900&display=swap");
$red-color: #e61624;
$orange-color: #ef8345;
$yellow-color: #fdca11;
$green-color: #a6c83d;
body {
  font-family: "Alegreya", serif;
  font-size: 18px;
  font-weight: 900;
}

.logo {
  display: block;
  width: 100px;
}
a {
  text-decoration: none;
  color: white;
}
.nav-container,
.nav-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.nav-container {
  padding: 15px;
  justify-content: space-between;
}
.nav-btn {
  padding: 10px;
}
.nav-btn.view {
  background-color: $red-color;
}
.nav-btn.add {
  background-color: $green-color;
}
